{% extends "base.html" %}

{% block content %}

<h2>Add Expense</h2>

<p>
    Group:
    <strong>{{ group.group_name }}</strong>
</p>

<form method="POST">

    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}
        <br>
        {{ form.title() }}
    </p>

    <p>
        {{ form.amount.label }}
        <br>
        {{ form.amount() }}
    </p>

    <p>
        {{ form.category.label }}
        <br>
        {{ form.category() }}
    </p>

    <p>
        {{ form.submit() }}
    </p>

</form>

<a href="{{ url_for('main.expenses', group_id=group.id) }}">
    View Expenses
</a>

{% endblock %}