{% extends "base.html" %}

{% block content %}

<h2>My Expenses</h2>

<hr>

{% if expenses %}

<table border="1">

    <tr>
        <th>Title</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Paid By</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    {% for expense in expenses %}

    <tr>

        <td>
            {{ expense.title }}
        </td>

        <td>
            ₹{{ expense.amount }}
        </td>

        <td>
            {{ expense.category }}
        </td>

        <td>
            {{ expense.paid_by }}
        </td>

        <td>
            {{ expense.created_at.strftime("%d-%m-%Y") }}
        </td>

        <td>

            <form
                method="POST"
                action="{{ url_for(
                    'main.delete_expense',
                    expense_id=expense.id
                ) }}"
            >

                <button type="submit">
                    Delete
                </button>

            </form>

        </td>

    </tr>

    {% endfor %}

</table>

{% else %}

<p>
    You have no expenses yet.
</p>

{% endif %}

<br>

<a href="{{ url_for('main.add_expense') }}">
    Add New Expense
</a>

<br><br>

<a href="{{ url_for('main.dashboard') }}">
    Back to Dashboard
</a>

{% endblock %}