{% extends "base.html" %}

{% block content %}

<h2>File a Complaint</h2>

<form method="POST">

    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}
        <br>
        {{ form.title() }}
    </p>

    <p>
        {{ form.description.label }}
        <br>
        {{ form.description(rows=6) }}
    </p>

    <p>
        {{ form.category.label }}
        <br>
        {{ form.category() }}
    </p>

    <p>
        {{ form.submit() }}
    </p>

</form>

<br>

<a href="{{ url_for('main.dashboard') }}">
    Back to Dashboard
</a>

{% endblock %}


